/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
/*#region	 [:root]									 ┃*/
:root {
    --color           : #ffffff;
    --background      : #000000;
    --body-background : #000000;
}
    @media (prefers-color-scheme: light) {
        :root{
            --background:#ffffff;
            --color     :#000000;
        }
    }
    @media (prefers-color-scheme: dark) {
        :root{
            --background:#000000;
            --color     :#ffffff;
        }
    }
/*#endregion [:root]									 ┃*/
/*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
/*#region	 [html]										 ┃*/
html {
    background	            : #000000;
    scroll-behavior         : smooth ;
    -webkit-text-size-adjust: 100%   ;
}
/*#endregion [html]										 ┃*/
/*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
/*#region	 [body]										 ┃*/
body {
    color      : var(--color);
    background : var(--body-background);
}
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [img]										 ┃*/
    img {
    }
    /*#endregion [img]										 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [picture]									 ┃*/
    picture {
    }
    /*#endregion [picture]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [video]									 ┃*/
    video {
    }
    /*#endregion [video]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [canvas]									 ┃*/
    canvas {
    }
    /*#endregion [canvas]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [svg]										 ┃*/
    svg {
    }
    /*#endregion [svg]										 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [input]									 ┃*/
    input {

    }
    /*#endregion [input]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [button]									 ┃*/
    button {
    }
    /*#endregion [button]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [textarea]									 ┃*/
    textarea {
    }
    /*#endregion [textarea]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [select]									 ┃*/
    select {
    }
    /*#endregion [select]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [a]										 ┃*/
    a {
    }
    /*#endregion [a]										 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [ul]										 ┃*/
    ul {
    }
    /*#endregion [ul]										 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [ol]										 ┃*/
    ol {
    }
    /*#endregion [ol]										 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*#endregion [body]										 ┃*/
/*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
/*#region	 [*]										 ┃*/
* {
    margin    : 0         ;
    padding   : 0         ;
    box-sizing: border-box;
}
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [*::after]									 ┃*/
    *::after {
        margin    : 0         ;
        padding   : 0         ;
        box-sizing: border-box;
    }
    /*#endregion [*::after]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [*::before]								 ┃*/
    *::before {
        margin    : 0         ;
        padding   : 0         ;
        box-sizing: border-box;
    }
    /*#endregion [*::before]								 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*#endregion [*]										 ┃*/
/*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
/*#region	 [#]										 ┃*/

/*#endregion [#]										 ┃*/
/*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
/*#region	 [.]										 ┃*/
.Y {
    flex-direction: column;
    align-self    : center;
}
.X {
    flex-direction: row   ;
    align-self    : center;
}
/*#endregion [.]										 ┃*/
/*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
/*#region	 [::]										 ┃*/
    /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
    /*#region	 [::webkit]									 ┃*/
        /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
        /*#region	 [::webkit-scrollbar]						 ┃*/
        ::-webkit-scrollbar {
            width: 14px;
            height: 14px;
            background: #000000;
        }
            /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*/
            /*#region	 [::webkit-scrollbar]						 ┃*/
            ::-webkit-scrollbar {
                background : #000000               ;
                border-left: 1px solid #00ffff     ;
                box-shadow : inset 0 0 10px #000000;
            }
            /*#endregion [::webkit-scrollbar]						 ┃*/
            /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
        /*#endregion [::webkit-scrollbar]						 ┃*/
        /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
    /*#endregion [::webkit]									 ┃*/
    /*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/*#endregion [::]										 ┃*/
/*┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/